body{
    background-image: url(../images/fondoabstracto.jpg);
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    border-color: 2px solid black;
   
}
header{
    width: 75%;
    height: 75%;
    background-color: rgb(209, 209, 209);
    margin: 25px;
    font-size: 350%;
    transition-duration: 5000ms;
    transition-property: all;
    border-radius: 15%;
    margin: 55px 135px 0px 135px;
    border-radius: 15px;
}

header:hover{
    color: rgb(164, 139, 255);
    font-size: 450%;
    background-color: black;
}
a{
    color: black;
    text-decoration: none; 
    transition-duration: 1500ms;
    transition-property: all;
}
a:hover{
text-decoration: none;
color: rgb(255, 255, 255);
}
#maindex{
    border-color: 2 px rgb(0, 0, 0);
    width: 75%;
    height: 75%;
    margin: 0px 135px;
    
    background-color: rgb(145, 196, 255);
    border-radius: 15px;
    transition-duration: 1500ms;
    transition-property: all;
}
#maindex:hover{
padding: 10% 1%;
    background-image: url(../images/nochestrellada.jpg);
}
button {
border-radius: 6px;
width: 75%;
   margin: 5px 5px;
    background-color: rgb(180, 179, 179);
    transition-duration: 1000ms;
    transition-property: all;
}
table{
    text-align: center;
    width: 75%;
    height: 75%;
   
}
button:hover{
    background-color:rgb(124, 124, 124);
} 
footer{
    width: 75%;
    height: 75%;
    background-color: rgb(255, 183, 183);
    margin: 5px 25px;
    font-size: 250%;
    transition-duration: 5000ms;
    transition-property: all;
    border-radius: 15px;
    margin: 55px 135px;
}
.mainpi{
    border-color: 2 px rgb(0, 0, 0);
    width: 75%;
    height: 75%;
    margin: 0px 135px;
    
    background-color: rgb(145, 196, 255);
    border-radius: 15px;
    transition-duration: 1500ms;
    transition-property: all;
}
.mainpi:hover{
padding: 10% 1%;
    
}
img {
    width: 75%;
}
.pintores{
    margin: 50px 150px;
}
.footerpintores{
    font-size: 150%;
}
.separacion{
    margin: 50px 50px;

}
#pintoresleo{
    margin: 50px 50px;
}
#pi1{
    width: 35%;
}
#pi2{
    width: 145%;
}
#pi3{
width: 60%;
}
#pi4{
    width: 175%;
}
#pi5{
    width: 75%;
}
#leo1{
width: 80%;
}
#leo2{
    width: 40%;
}
#leo3{
    width: 150%;
}
#leo4{
    width: 40%;
}
#leo5{
    width: 120%;
}
#sal4{
    width: 125%;
}
